@use '../variables'
@use '../mixins'

$space: 15px 50px

article.container-modelPost
    
    .cover-picture
        @include mixins.text($color: rgba(68, 68, 68, 1), $size: 64px, $weight: 700)
        width: 100%
        height: 200px
        display: flex
        align-items: center
        padding-left: 50px
        opacity: 0.3
        background-size: cover
        background-repeat: no-repeat 

    h3
        @include mixins.text($color: rgba(68, 68, 68, 1), $size: 40px, $weight: 700)
        margin: $space
    
    p
        @include mixins.text($color: rgba(68, 68, 68, 1), $size: 18px, $weight: 400)
        margin: $space

    .main-text
        @include mixins.text($color: rgba(68, 68, 68, 1), $size: 24px, $weight: 700)
        margin: $space

    .profile-picture
        margin: $space
        float: right
        border-radius: 8px
